/*
All rights to this file are held by wizard.duti.site.
Permission is granted to use this file for any non-commercial purposes as long as the use is in no way harmful to Wizard tools or WIZARD.CSS.
*/

/*Default overridable*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000;
  font-size: 1.1em
}

button {
  border-radius: 1px
}

/*Background colors (hover and normal)*/
.wc-blue,
.wc-hover-blue:hover {
  background-color: #00f!important;
  color: #fff!important
}

.wc-red,
.wc-hover-red:hover {
  background-color: #f00!important;
  color: #000!important
}

.wc-green,
.wc-hover-green:hover {
  background-color: #008000!important;
  color: #fff!important
}

.wc-yellow,
.wc-hover-yellow:hover {
  background-color: #ff0!important;
  color: #000!important
}

.wc-orange,
.wc-hover-orange:hover {
  background-color: #ffa500!important;
  color: #000!important
}

.wc-pink,
.wc-hover-pink:hover {
  background-color: #ffc0cb!important;
  color: #000!important
}

.wc-midnight,
.wc-hover-midnight:hover {
  background-color: #191970!important;
  color: #fff!important
}

.wc-aqua,
.wc-hover-aqua:hover,
button:active {
  background-color: #0ff!important;
  color: #000!important
}

.wc-greenapple,
.wc-hover-greenapple:hover {
  background-color: #00ff00!important;
  color: #000!important
}

.wc-indigo,
.wc-hover-indigo:hover {
  background-color: #4b0082!important;
  color: #fff!important
}

.wc-purple,
.wc-hover-purple:hover {
  background-color: #800080!important;
  color: #fff!important
}

.wc-tan,
.wc-hover-tan:hover {
  background-color: #d2b48c!important;
  color: #000!important
}

.wc-black,
.wc-hover-black:hover {
  background-color: #000!important;
  color: #fff!important
}

.wc-brown,
.wc-hover-brown:hover {
  background-color: #a52a2a!important;
  color: #fff!important
}

.wc-grey,
.wc-gray,
.wc-hover-grey:hover,
.wc-hover-gray:hover,
th {
  background-color: #808080!important;
  color: #fff!important
}

.wc-silver,
.wc-hover-silver:hover,
th {
  background-color: #c0c0c0!important;
  color: #000!important
}

.wc-white,
.wc-hover-white:hover,
th {
  background-color: #fff!important;
  color: #000!important
}

/*Text color (hover and normal)*/
.wc-text-blue,
.wc-hover-text-blue:hover,
a {
  color: #00f!important
}

.wc-text-red,
.wc-hover-text-red:hover {
  color: #f00!important
}

.wc-text-green,
.wc-hover-text-green:hover {
  color: #008000!important
}

.wc-text-yellow,
.wc-hover-text-yellow:hover {
  color: #ff0!important
}

.wc-text-orange,
.wc-hover-text-orange:hover {
  color: #ffa500!important
}

.wc-text-pink,
.wc-hover-text-pink:hover {
  color: #ffc0cb!important
}

.wc-text-midnight,
.wc-hover-text-midnight:hover {
  color: #191970!important
}

.wc-text-aqua,
.wc-hover-text-aqua:hover {
  color: #0ff!important
}

.wc-text-greenapple,
.wc-hover-text-greenapple:hover {
  color: #0f0!important
}

.wc-text-indigo,
.wc-hover-text-indigo:hover {
  color: #4b0082!important
}

.wc-text-purple,
.wc-hover-text-purple:hover {
  color: #800080!important
}

.wc-text-tan,
.wc-hover-text-tan:hover {
  color: #d2b48c!important
}

.wc-text-black,
.wc-hover-text-black:hover {
  color: #000!important
}

.wc-text-brown,
.wc-hover-text-brown:hover {
  color: #a52a2a!important
}

.wc-text-grey,
.wc-text-gray,
.wc-hover-text-grey:hover,
.wc-hover-text-gray:hover {
  color: #808080!important
}

.wc-text-silver,
.wc-hover-text-silver:hover {
  color: #c0c0c0!important
}

.wc-text-white,
.wc-hover-text-white:hover {
  color: #fff!important
}

/*Containers*/
.wc-container {
  display: block
}

.wc-separate {
  display: block
}

.wc-section {
  box-shadow: 15px 15px 40px grey;
  padding-top: 1px;
  border: 1px solid #000
}

/*Fonts*/
.wc-text-serif {
  font-family: serif
}

.wc-text-sans-serif {
  font-family: sans-serif
}

.wc-sans-monospace {
  font-family: monospace
}

/*Text size*/
.wc-text-x-small {
  font-size: 0.5em!important
}

.wc-text-small {
  font-size: 0.8em!important
}

.wc-text {
  font-size: 1.1em!important
}

.wc-text-large {
  font-size: 2em!important
}

.wc-text-x-large {
  font-size: 3em!important
}

.wc-text-huge {
  font-size: 5em!important
}

/*Text align*/
.wc-text-right {
  text-align: right
}

.wc-text-left {
  text-align: left
}

.wc-text-center {
  text-align: center
}

/*Text transform*/
.wc-text-uppercase {
  text-transform: uppercase!important
}

.wc-text-lowercase {
  text-transform: lowercase!important
}

.wc-text-capitalize {
  text-transform: capitalize!important
}

.wc-text-none {
  text-transform: none!important
}

.wc-text-inherit {
  text-transform: inherit!important
}

.wc-text-initial {
  text-transform: initial!important
}

.wc-text-unset {
  text-transform: unset!important
}

/*Text styles*/
.wc-text-bold {
  font-weight: bold!important
}

.wc-text-italic {
  font-style: italic!important
}

.wc-text-underline {
  text-decoration: underline!important
}

/*Text effects*/
.wc-text-wide {
  letter-spacing: 5px!important
}

/*Align*/
.wc-right {
  float: right!important
}

.wc-left {
  float: left!important
}

.wc-center {
  margin: auto!important
}

/*Shapes*/
.wc-circle {
  border-radius: 50%!important;
  overflow: auto
}

.wc-round-small {
  border-radius: 2px!important;
  overflow: auto
}

.wc-round,
.wc-round-medium {
  border-radius: 4px!important;
  overflow: auto
}

.wc-round-large {
  border-radius: 8px!important;
  overflow: auto
}

.wc-round-x-large {
  border-radius: 16px!important;
  overflow: auto
}

.wc-round-x-x-large {
  border-radius: 32px!important;
  overflow: auto
}

/*Special exceptions*/
.wc-image {
  max-width: 100%;
  height: auto
}

.wc-code {
  width: auto;
  background-color: #fff;
  padding: 8px 12px;
  word-wrap: break-word;
  font: 15px Consolas, "courier new"!important
}

/*Responsive width*/
.wc-width-full,
.wc-width-half,
.wc-width-third,
.wc-width-two-third,
.wc-width-three-quarter,
.wc-width-quarter {
  float: left
}

.wc-width-full {
  width: 50%
}

.wc-width-half {
  width: 45%
}

.wc-width-third {
  width: 33.33333%
}

.wc-width-two-third {
  width: 66.66666%
}

.wc-width-quarter {
  width: 25%
}

.wc-width-three-quarter {
  width: 75%
}

/*Responsive height*/
.wc-col-whole,
.wc-col-half,
.wc-col-third,
.wc-col-two-third,
.wc-col-three-quarter,
.wc-col-quarter {
  float: left;
}

.wc-col-whole {
  height: 100%
}

.wc-col-half {
  height: 50%
}

.wc-col-third {
  height: 33.33333%
}

.wc-col-two-third {
  height: 66.66666%
}

.wc-col-quarter {
  height: 25%
}

.wc-col-three-quarter {
  height: 75%
}

/*Border positions*/
.wc-border,
.wc-hover-border,
button,
td,
th, {
  border: 1px solid #000!important
}

.wc-border-top,
.wc-hover-border-top {
  border-top: 1px solid #000!important
}

.wc-border-bottom,
.wc-hover-border-bottom {
  border-bottom: 1px solid #000!important
}

.wc-border-left,
.wc-hover-border-left {
  border-left: 1px solid #000!important
}

.wc-border-right,
.wc-hover-border-right {
  border-right: 1px solid #000!important
}

.wc-border-thick,
.wc-hover-border-thick {
  border: 5px solid #000!important
}

.wc-border-top-thick,
.wc-hover-border-top-thick {
  border-top: 5px solid #000!important
}

.wc-border-bottom-thick,
.wc-hover-border-bottom-thick {
  border-bottom: 5px solid #000!important
}

.wc-border-left-thick,
.wc-hover-border-left-thick {
  border-left: 5px solid #000!important
}

.wc-border-right-thick,
.wc-hover-border-left-thick {
  border-right: 5px solid #000!important
}

/*Border styles*/
.wc-border-dashed,
.wc-hover-border-dashed {
  border-style: dashed!important
}

.wc-border-dotted,
.wc-hover-border-dotted {
  border-style: dotted!important
}

.wc-border-ridge,
.wc-hover-border-ridge {
  border-style: ridge!important
}

.wc-border-solid,
.wc-hover-border-solid {
  border-style: solid!important
}

.wc-border-groove,
.wc-hover-border-groove {
  border-style: groove!important
}

.wc-border-inherit,
.wc-hover-border-inherit {
  border-style: inherit!important
}

.wc-border-outset,
.wc-hover-border-outset {
  border-style: outset!important
}

.wc-border-double,
.wc-hover-border-double {
  border-style: double!important
}

.wc-border-inset,
.wc-hover-border-inset {
  border-style: inset!important
}

.wc-border-hidden,
.wc-hover-border-hidden {
  border-style: hidden!important
}

.wc-border-none,
.wc-hover-border-none {
  border-style: none!important
}

.wc-border-initial,
.wc-hover-border-initial {
  border-style: initial!important
}

.wc-border-collapse,
.wc-hover-border-collapse,
table {
  border-collapse: collapse;
}

/*Border colors*/
.wc-border-blue,
.wc-hover-border-blue:hover {
  border-color: #00f!important
}

.wc-border-red,
.wc-hover-border-red:hover {
  border-color: #f00!important
}

.wc-border-green,
.wc-hover-border-green:hover {
  border-color: #008000!important
}

.wc-border-yellow,
.wc-hover-border-yellow:hover {
  border-color: #ff0!important
}

.wc-border-orange,
.wc-hover-border-orange:hover {
  border-color: #ffa500!important
}

.wc-border-pink,
.wc-hover-border-pink:hover {
  border-color: #ffc0cb!important
}

.wc-border-midnight,
.wc-hover-border-midnight:hover {
  border-color: #191970!important
}

.wc-border-aqua,
.wc-hover-border-aqua:hover {
  border-color: #0ff!important
}

.wc-border-greenapple,
.wc-hover-border-greenapple:hover {
  border-color: #0f0!important
}

.wc-border-indigo,
.wc-hover-border-indigo:hover {
  border-color: #4b0082!important
}

.wc-border-purple,
.wc-hover-border-purple:hover {
  border-color: #800080!important
}

.wc-border-tan,
.wc-hover-border-tan:hover {
  border-color: #d2b48c!important
}

.wc-border-black,
.wc-hover-border-black:hover {
  border-color: #000!important
}

.wc-border-brown,
.wc-hover-border-brown:hover {
  border-color: #a52a2a!important
}

.wc-border-grey,
.wc-border-gray,
.wc-hover-border-grey:hover,
.wc-hover-border-gray:hover {
  border-color: #808080!important
}

.wc-border-silver,
.wc-hover-border-silver:hover {
  border-color: #c0c0c0!important
}

.wc-border-white,
.wc-hover-border-white:hover {
  border-color: #fff!important
}

/*Cursors*/
.wc-cursor {
  cursor: default!important
}

.wc-cursor-pointer,
button {
  cursor: pointer!important
}

.wc-cursor-crosshair {
  cursor: crosshair!important
}

.wc-cursor-deny {
  cursor: not-allowed!important
}

.wc-cursor-wait {
  cursor: wait!important
}

.wc-cursor-text {
  cursor: text!important
}

.wc-cursor-progress {
  cursor: progress!important
}

.wc-cursor-none {
  cursor: none!important
}

.wc-cursor-zoom-in {
  cursor: zoom-in!important
}

.wc-cursor-zoom-out {
  cursor: zoom-out!important
}

.wc-cursor-help {
  cursor: help!important
}

.wc-cursor-alias {
  cursor: alias!important
}

.wc-cursor-scroll {
  cursor: all-scroll!important
}

.wc-cursor-auto {
  cursor: auto!important
}

.wc-cursor-cell {
  cursor: cell!important
}

.wc-cursor-resize-col {
  cursor: col-resize!important
}

.wc-cursor-copy {
  cursor: copy!important
}

.wc-cursor-resize-horizontal {
  cursor: e-resize!important
}

.wc-cursor-resize-vertical {
  cursor: n-resize!important
}

.wc-cursor-resize-diagonal-right {
  cursor: ne-resize!important
}

.wc-cursor-resize-diagonal-left {
  cursor: nw-resize!important
}

.wc-cursor-move {
  cursor: move!important
}

.wc-cursor-resize-row {
  cursor: move!important
}

.wc-cursor-text-vertical {
  cursor: vertical-text!important
}

/*Positioning*/
.wc-position-absolute {
  position: absolute
}

.wc-position-fixed {
  position: fixed
}

.wc-position-relative {
  position: relative
}

.wc-position-static {
  position: static
}

.wc-position-sticky {
  position: sticky
}

.wc-position-inherit {
  position: inherit
}

.wc-position-initial {
  position: initial
}

.wc-position-unset {
  position: unset
}

/*Padding*/
.wc-padding {
  padding: 7px!important
}

.wc-padding-0 {
  padding: 0!important
}

.wc-padding-5
td,
th {
  padding: 5px!important
}

.wc-padding-10,
.wc-right,
.wc-left,
.wc-center {
  padding: 10px!important
}

.wc-padding-15,
.wc-section {
  padding: 15px!important
}

.wc-padding-20 {
  padding: 20px!important
}

.wc-padding-25 {
  padding: 25px!important
}

.wc-padding-30 {
  padding: 30px!important
}

.wc-padding-35 {
  padding: 35px!important
}

.wc-padding-40 {
  padding: 40px!important
}

.wc-padding-45 {
  padding: 45px!important
}

.wc-padding-50 {
  padding: 50px!important
}

/*Padding top*/
.wc-padding-top {
  padding-top: 7px!important
}

.wc-padding-top-0 {
  padding-top: 0
}

.wc-padding-top-5 {
  padding-top: 5px!important
}

.wc-padding-top-10 {
  padding-top: 10px!important
}

.wc-padding-top-15 {
  padding-top: 15px!important
}

.wc-padding-top-20 {
  padding-top: 20px!important
}

.wc-padding-top-25 {
  padding-top: 25px!important
}

.wc-padding-top-30 {
  padding-top: 30px!important
}

.wc-padding-top-35 {
  padding-top: 35px!important
}

.wc-padding-top-40 {
  padding-top: 40px!important
}

.wc-padding-top-45 {
  padding-top: 45px!important
}

.wc-padding-top-50 {
  padding-top: 50px!important
}

/*Padding bottom*/
.wc-padding-bottom {
  padding-bottom: 7px!important
}

.wc-padding-bottom-0 {
  padding-bottom: 0!important
}

.wc-padding-bottom-5 {
  padding-bottom: 5px!important
}

.wc-padding-bottom-10 {
  padding-bottom: 10px!important
}

.wc-padding-bottom-15 {
  padding-bottom: 15px!important
}

.wc-padding-bottom-20 {
  padding-bottom: 20px!important
}

.wc-padding-bottom-25 {
  padding-bottom: 25px!important
}

.wc-padding-bottom-30 {
  padding-bottom: 30px!important
}

.wc-padding-bottom-35 {
  padding-bottom: 35px!important
}

.wc-padding-bottom-40 {
  padding-bottom: 40px!important
}

.wc-padding-bottom-45 {
  padding-bottom: 45px!important
}

.wc-padding-bottom-50 {
  padding-bottom: 50px!important
}

/*Padding left*/
.wc-padding-left {
  padding-left: 7px!important
}

.wc-padding-left-0 {
  padding-left: 0!important
}

.wc-padding-left-5 {
  padding-left: 5px!important
}

.wc-padding-left-10 {
  padding-left: 10px!important
}

.wc-padding-left-15,
.wc-container {
  padding-left: 15px!important
}

.wc-padding-left-20 {
  padding-left: 20px!important
}

.wc-padding-left-25 {
  padding-left: 25px!important
}

.wc-padding-left-30 {
  padding-left: 30px!important
}

.wc-padding-left-35 {
  padding-left: 35px!important
}

.wc-padding-left-40 {
  padding-left: 40px!important
}

.wc-padding-left-45 {
  padding-left: 45px!important
}

.wc-padding-left-50 {
  padding-left: 50px!important
}

/*Padding right*/
.wc-padding-right {
  padding-right: 7px!important
}

.wc-padding-right-0 {
  padding-right: 0!important
}

.wc-padding-right-5, {
  padding-right: 5px!important
}

.wc-padding-right-10 {
  padding-right: 10px!important
}

.wc-padding-right-15,
.wc-container {
  padding-right: 15px!important
}

.wc-padding-right-20 {
  padding-right: 20px!important
}

.wc-padding-right-25 {
  padding-right: 25px!important
}

.wc-padding-right-30 {
  padding-right: 30px!important
}

.wc-padding-right-35 {
  padding-right: 35px!important
}

.wc-padding-right-40 {
  padding-right: 40px!important
}

.wc-padding-right-45 {
  padding-right: 45px!important
}

.wc-padding-right-50 {
  padding-right: 50px!important
}

/*Margin*/
.wc-margin {
  margin: 7px!important
}

.wc-margin-0,
body {
  margin: 0
}

.wc-margin-5
td,
th {
  margin: 5px!important
}

.wc-margin-10,
.wc-right,
.wc-left {
  margin: 10px!important
}

.wc-margin-15,
.wc-section {
  margin: 15px!important
}

.wc-margin-20 {
  margin: 20px!important
}

.wc-margin-25 {
  margin: 25px!important
}

.wc-margin-30 {
  margin: 30px!important
}

.wc-margin-35 {
  margin: 35px!important
}

.wc-margin-40 {
  margin: 40px!important
}

.wc-margin-45 {
  margin: 45px!important
}

.wc-margin-50 {
  margin: 50px!important
}

/*Margin top*/
.wc-margin-top {
  margin-top: 7px!important
}

.wc-margin-top-0 {
  margin-top: 0!important
}

.wc-margin-top-5 {
  margin-top: 5px!important
}

.wc-margin-top-10 {
  margin-top: 10px!important
}

.wc-margin-top-15,
.wc-separate {
  margin-top: 15px!important
}

.wc-margin-top-20 {
  margin-top: 20px!important
}

.wc-margin-top-25 {
  margin-top: 25px!important
}

.wc-margin-top-30 {
  margin-top: 30px!important
}

.wc-margin-top-35 {
  margin-top: 35px!important
}

.wc-margin-top-40 {
  margin-top: 40px!important
}

.wc-margin-top-45 {
  margin-top: 45px!important
}

.wc-margin-top-50 {
  margin-top: 50px!important
}

/*Margin bottom*/
.wc-margin-bottom {
  margin-bottom: 7px!important
}

.wc-margin-bottom-0 {
  margin-bottom: 0!important
}

.wc-margin-bottom-5 {
  margin-bottom: 5px!important
}

.wc-margin-bottom-10 {
  margin-bottom: 10px!important
}

.wc-margin-bottom-15,
.wc-separate {
  margin-bottom: 15px!important
}

.wc-margin-bottom-20 {
  margin-bottom: 20px!important
}

.wc-margin-bottom-25 {
  margin-bottom: 25px!important
}

.wc-margin-bottom-30 {
  margin-bottom: 30px!important
}

.wc-margin-bottom-35 {
  margin-bottom: 35px!important
}

.wc-margin-bottom-40 {
  margin-bottom: 40px!important
}

.wc-margin-bottom-45 {
  margin-bottom: 45px!important
}

.wc-margin-bottom-50 {
  margin-bottom: 50px!important
}

/*Margin left*/
.wc-margin-left {
  margin-left: 7px!important
}

.wc-margin-left-0 {
  margin-left: 0!important
}

.wc-margin-left-5 {
  margin-left: 5px!important
}

.wc-margin-left-10 {
  margin-left: 10px!important
}

.wc-margin-left-15 {
  margin-left: 15px!important
}

.wc-margin-left-20 {
  margin-left: 20px!important
}

.wc-margin-left-25 {
  margin-left: 25px!important
}

.wc-margin-left-30 {
  margin-left: 30px!important
}

.wc-margin-left-35 {
  margin-left: 35px!important
}

.wc-margin-left-40 {
  margin-left: 40px!important
}

.wc-margin-left-45 {
  margin-left: 45px!important
}

.wc-margin-left-50 {
  margin-left: 50px!important
}

/*Margin right*/
.wc-margin-right {
  margin-right: 7px!important
}

.wc-margin-right-0 {
  margin-right: 0!important
}

.wc-margin-right-5, {
  margin-right: 5px!important
}

.wc-margin-right-10 {
  margin-right: 10px!important
}

.wc-margin-right-15 {
  margin-right: 15px!important
}

.wc-margin-right-20 {
  margin-right: 20px!important
}

.wc-margin-right-25 {
  margin-right: 25px!important
}

.wc-margin-right-30 {
  margin-right: 30px!important
}

.wc-margin-right-35 {
  margin-right: 35px!important
}

.wc-margin-right-40 {
  margin-right: 40px!important
}

.wc-margin-right-45 {
  margin-right: 45px!important
}

.wc-margin-right-50 {
  margin-right: 50px!important
}